html, h4, h3 *{
    font-family: "Bebas Neue", sans-serif;
}

h3 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    margin-left: 3%;
}

.main-container {
    background-color: #00B69D;
    height: 92vh;
    width: 88vw;
    margin-left: 12vw;
    
    border: 1px solid #00B69D;
    padding: 0;
}

.white-screen {
    padding: 0;
    border-radius: 45px;
    background-color: #F8F9FA;
    height: 90vh;
    width: 86vw;
    margin-left: 1vw;
    margin-top: 1vh;
    border: 1px solid white;
}

.titulo {
    margin-top: 5%;
    margin-left: 5%;
    font-size: 40px;
    font-weight: 400;
    font-family: "Bebas Neue", sans-serif;

}


.container {
    width: 60%;
    height: 60%;
    
    margin-left: 5%;
    margin-top: 3%;
   
    background-color: white;
    border-radius: 25px;
}

.item-container {
    margin: auto;
    margin-top: 5%;
    width: 50%;
    height: 30%;
    border: #00B69D 2px solid;
    border-radius: 25px;
}

.button-container {
    width: 50%;
    margin: auto;
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}